<div class="container">
    <div class="row">
        <div class="col col-login mx-auto">
            <form class="card" action="" method="post">
                <div class="card-body p-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="text-center p-6">
                                    <img src="/images/logo.svg" alt="Logo" width="160"/>
                                    <div class="text-center text-muted mt-5">
                                        Sweet Manager • PeiFeng.Li
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <div class="text-center p-6">
                                <div class="card-title">登录·甜蜜管理·后台</div>
                                <div class="card-title"> </div>
                              </div>
                                <div class="form-group">
                                    <label class="form-label"><%- i18n('str', 'email-address') %></label>
                                    <input name="identity" type="email" class="form-control" placeholder="邮箱地址" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"><%- i18n('str', 'password') %></label>
                                    <input name="secret" type="password" class="form-control" placeholder="个人密码" required>
                                    <div class="invalid-feedback secret-error"></div>
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-teal btn-block">登录账户</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
