<div class="row align-items-center flex-row-reverse">
    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        <%- i18n('main', 'version', {version: getVersion()}) %>
        <%= i18n('footer', 'copy', {url: ''}) %>
        <%= i18n('footer', 'theme', {url: ''}) %>
        <%= i18n('footer', 'translate', {url: ''}) %>
    </div>
</div>
